<header class="container">
	<div class="header container clearfix">
		<nav class="clear">
			<div class="logo">
				<a class="clearfix" href="#/home">
					<img src="images/logo.png" alt="logo">
				</a>
			</div>
			<div class="logo-holder"></div>
			<div class="primary-nav menu">
				<a class="link" ng-mouseover="primaryNavHover = true" ng-mouseleave="primaryNavHover = false" href="#/categoriesList">
					<h3>Products</h3>
				</a>
				<meau ng-class="{show: primaryNavHover}" ng-mouseover="primaryNavHover = true" ng-mouseleave="primaryNavHover = false" class="primary-nav-dropdown clearfix">
					<div class="title row">
						<h4 class="col-xs-4">Categories</h4>
					</div>
					<div class="row">
						<div class="col-md-4">
							<menuitem><a href="#">Beauty & Health</a>
							</menuitem>
							<menuitem><a href="#">Cables</a>
							</menuitem>
							<menuitem><a href="#">Camera Accessories</a>
							</menuitem>
							<menuitem><a href="#">Computer Accessories</a>
							</menuitem>
							<menuitem><a href="#">Digital Scale</a>
							</menuitem>
							<menuitem><a href="#">Gaming Accessories</a>
							</menuitem>
							<menuitem><a href="#">Home & Garden</a>
							</menuitem>
						</div>
						<div class="col-md-4">
							<menuitem><a href="#">iPad/Tablet Accessories</a>
							</menuitem>
							<menuitem><a href="#">Jewerly & Watch</a>
							</menuitem>
							<menuitem><a href="#">LED Fluorsecent Board</a>
							</menuitem>
							<menuitem><a href="#">Personal Massager</a>
							</menuitem>
							<menuitem><a href="#">Pet Suppliers</a>
							</menuitem>
							<menuitem><a href="#">Solar & LED Light</a>
							</menuitem>
							<menuitem><a href="#">TV Mounts</a>
							</menuitem>
						</div>
						<div class="col-md-4">
							<menuitem><a href="#">Women’s Clothing</a>
							</menuitem>
							<menuitem><a href="#">Other…</a>
							</menuitem>
						</div>
					</div>
				</meau>
			</div>
			<div class="quick-nav">
				<h6 class="contact">Contact Us: <span class="tel">123-456-7890</span></h6>
				<ul class="tools">
					<li>
						<a class="search glyphicon glyphicon-search" href="#/search"></a>
					</li>
					<li>
						<a ng-mouseover="cartHover = true" ng-mouseleave="cartHover = false" class="shopping-cart glyphicon glyphicon-shopping-cart" href="#/shoppingCart"></a>
						<div ng-class="{show: cartHover}" ng-mouseover="cartHover = true" ng-mouseleave="cartHover = false" class="drop cart-preview">
							<div>
								<!-- TODO: if empty -->
								<p>Nothing in your cart yet.</p>
								<!-- TODO: else -->
								<!--<ul>
									<li>
										<div class="row">
											<div class="col-xs-4 image">
												<img src="images/kitchen_adventurer_lemon.jpg" alt="product">
											</div>
											<div class="col-xs-8 meta">
												<p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp...</p>
												<div class="row">
													<div class="col-xs-6 price-sm">
														<span>$16.99</span>
													</div>
													<div class="col-xs-6 delete">
														<span>Remove</span>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-xs-4 image">
												<img src="images/kitchen_adventurer_lemon.jpg" alt="product">
											</div>
											<div class="col-xs-8 meta">
												<p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp...</p>
												<div class="row">
													<div class="col-xs-6 price-sm">
														<span>$16.99</span>
													</div>
													<div class="col-xs-6 delete">
														<span>Remove</span>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-xs-4 image">
												<img src="images/kitchen_adventurer_lemon.jpg" alt="product">
											</div>
											<div class="col-xs-8 meta">
												<p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp...</p>
												<div class="row">
													<div class="col-xs-6 price-sm">
														<span>$16.99</span>
													</div>
													<div class="col-xs-6 delete">
														<span>Remove</span>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>-->
							</div>
							<div class="checkout-btn">
								<div class="row">
									<div class="col-xs-6">
										<span class="subtotal">Subtotal:</span>
									</div>
									<div class="col-xs-6">
										<span class="price">$50.79</span>
									</div>
								</div>
								<a href="#" class="btn">Checkout</a>
							</div>
						</div>
					</li>
					<li>
						<a ng-mouseover="loginHover = true" ng-mouseleave="loginHover = false" class="user-info glyphicon glyphicon-user" href="#/register"></a>
						<!-- TODO: if login -->
						<div ng-class="{show: loginHover}" ng-mouseover="loginHover = true" ng-mouseleave="loginHover = false" class="drop">
							<form class="login-form" action="#/account">
								<fieldset>
									<label class="title"><h5>Login</h5></label>
								</fieldset>
								<fieldset class="username">
									<label>Email Address&nbsp;<span class="required">*</span></label>
									<input type="email" required>
								</fieldset>
								<fieldset class="password">
									<label>Password&nbsp;<span class="required">*</span></label>
									<input type="password" required>
								</fieldset>
								<fieldset class="forgot">
									<a href="#/forgot">Forget Password?</a>
								</fieldset>
								<fieldset class="checkout">
									<input class="btn" type="submit" value="Login">
								</fieldset>
							</form>
							<div class="register">
								<a href="#/register" class="btn-black">Sign Up</a>
							</div>
						</div>
						<!-- TODO: else not login -->
						<!--<div ng-class="{show: loginHover}" ng-mouseover="loginHover = true" ng-mouseleave="loginHover = false" class="drop">
							<div class="account-info">
								<ul>
									<li><h5>Welcome, Jason TC</h5></li>
									<li><a>Address Book</a></li>
									<li><a>Order History</a></li>
								</ul>
								<a class="manage btn">Manage Account</a>
							</div>
							<div class="sign-out">
								<a class="btn-black">Sign Out</a>
							</div>
						</div>
						<!-- TODO: endif -->
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>