// _checkout-options.scss

.checkout-options {
  .top {
    &:after {
      border-bottom: 1px solid #d5d5d5;
      height: 15px;
      visibility: visible;
    }
    .title {
      text-align: left;
      margin: 6.5px 0;
    }
  }
  .options-section {
    margin: 15px 0;
    .guest {
      .info {
        color: #a5a5a5;
        margin-bottom: 15px;
      }
      .btn {
        display: block;
        font-size: 1.1em;
        margin: 30px auto;
        width: 65%;
      }
    }
    .login {
      border-right: 1px solid #d5d5d5;
    }
  }
}

.subtitle {
  margin-bottom: 15px;
}

.login-form {
  .username, .password {
    margin-bottom: 5px;
    label {
      color: #a5a5a5;
      margin-bottom: 15px;
      span {
        color: $theme-blue;
      }
    }
    input {
      border-radius: 0;
    }
  }
  .forgot {
    margin-bottom: 10px;
    a {
      color: $theme-blue;
      font-style: italic;
    }
  }
  .checkout {
    .btn {
      padding: 0.75em 2.5em;
    }
  }
}