// _checkout.scss

.accordion-tabs {
  $large-screen: em(860) !default;

  @include clearfix;
  padding: 0;

  .accordion-tab-headers {
    background-color: black;
    list-style: none;
    padding: 1.3em;
    margin-bottom: 15px;

    //@include media($large-screen) {
    //  display: inline;
    //}

    .tab-header {
      text-align: center;

      a {
        color: white;
        font-size: 1em;
        text-align: center;

        &.is-active {
          color: $theme-blue;
        }
      }
    }

  }

  .tab-link {
    display: block;

    @include media($large-screen) {
      display: inline-block;
    }
  }

  .is-active {
    color: #ff0000;
  }

  .tab-content {
    display: none;
    width: 100%;

    @include media($large-screen) {
      float: left;
    }
  }

  .contents {
    .order-info {
      .meta {
        color: #a5a5a5;
      }
      .shipping-price, .total {
        .col-xs-5.col-xs-offset-1 {
          text-align: right;
        }
      }
      .address {
        margin: 60px 30px 30px;
      }
    }
  }
}

.checkout {
	.tab-header {
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
}