// _font-face.scss

@mixin mono-font-face($style, $weight, $suffix) {
  @font-face {
    font-family: 'Input Mono Compressed';
    font-style: $style;
    font-weight: $weight;
    src: url(../fonts/InputMonoCompressed/InputMonoCompressed-#{$suffix}.ttf) format('truetype');
  }
}

@mixin mono-font-face-pair($suffix: Regular) {
  $weight: 400;
  @if $suffix == Thin {
    $weight: 100;
  } @else if $suffix == ExtraLight {
    $weight: 200;
  } @else if $suffix == Light {
    $weight: 300;
  } @else if $suffix == Regular {
    $weight: 400;
  } @else if $suffix == Medium {
    $weight: 500;
  } @else if $suffix == Bold {
    $weight: 700;
  } @else if $suffix == Black {
    $weight: 900;
  };
  @include mono-font-face(normal, $weight, $suffix);
  @include mono-font-face(italic, $weight, if($suffix == Regular, Italic, #{$suffix}Italic));
}

@include mono-font-face-pair(Thin);
@include mono-font-face-pair(ExtraLight);
@include mono-font-face-pair(Light);
@include mono-font-face-pair(Regular);
@include mono-font-face-pair(Medium);
@include mono-font-face-pair(Bold);
@include mono-font-face-pair(Black);

$inputmono: 'Input Mono Compressed', sans-serif;