// _footer.scss
footer {
  margin-bottom: 15px;

  &:before {
    border-top: 1px solid #d5d5d5;
    display: block !important;
  }

  .newsletter {
    margin: 15px 0;

    .label {
      color: black;
      text-align: right;
      padding: 6px 0;
    }
    .email {
      border-radius: 0;
      float: left;
    }
    .btn {
      background-color: #d8d8d8;
      border-radius: 0;
      color: black;
      right: 17px;
      font-family: 'Input Mono Compressed', sans-serif;
      font-size: 0.8em;
      font-wight: 200;
      padding: 0.6em 1.5em;
      position: absolute;
      margin: 8px 6px;
    }
  }

  .nav {
    color: #d5d5d5;
    .rights {}
    .left ul li a {
      color: #d5d5d5;
    }
    .right ul li a {
      color: #d5d5d5;
    }
  }
}