// _global.scss

$gw-column: 24px;          // Column Width
$gw-gutter: 0px;           // Gutter Width
$theme-blue: #3a89e2;

/* import external library */
@import 'libraries';

@mixin htag($index, $font-size, $line-height, $font-weight) {
  h#{$index} {
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
  }
}

@mixin transition($properties, $time, $methods) {
  $n: 1;
  $trans: "";
  @each $property in $properties {
    @if $n != 1 {
      $trans: $trans + ", ";
    }
    $trans: $trans + $property + " " + nth($time, $n) + " " + nth($methods, $n);
    $n: $n + 1;
  }
  -webkit-transition: #{$trans};
  transition: #{$trans};
}

a {
  color: black;

  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}

.row:after, .clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

table {
  width: 100%
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background-color: transparent;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-family: $inputmono;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.btn, .btn-black {
  border-radius: 0 !important;
	color: #fff;
  font-family: $inputmono !important;
  font-weight: 500 !important;
}

.btn {
	background-color: #477dca;
}

.btn-black {
	background-color: black;
}

.btn:hover {
	background-color: #2c5999;
	color: #fff;
}

.btn-black:hover {
	background-color: black;
	color: #fff;
}

@include htag(1, 42px, 44px, 500);
@include htag(2, 32px, 34px, 500);
@include htag(3, 24px, 29px, 500);
@include htag(4, 20px, 24px, 500);
@include htag(5, 16px, 21px, 500);
@include htag(6, 14px, 17px, 500);

h1, h2, h3, h4, h5, h6 {
  &.title {
    font-size: 22px;
    line-height: 20px;
  }
}

.container {
  max-width: 1440px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: block;
}

.top {
  padding: 15px;
  margin-bottom: 15px;
}

.top-15 {
	margin-top: 15px;
}

.top-line:before {
  border-top: 1px solid #d5d5d5;
  content: " ";
  display: block;
  height: 15px;
  margin-top: 15px;
  visibility: visible;
}

.bottom-line:after {
  border-bottom: 1px solid #d5d5d5;
  content: " ";
  display: block;
  height: 15px;
  margin-bottom: 15px;
  visibility: visible;
}