// _header.scss

.header {
  background-color: white;
  display: block;
  margin: 0 -15px;
  position: fixed;
  z-index: 1000;

  nav {
		box-sizing: content-box;
		border-bottom: 1px solid #d5d5d5;
    display: block;
		height: 80px;
		line-height: 98px;
		padding-top: 8px;
  }
}

.logo, .logo-holder {
	display: inherit;
  float: left;
	height: inherit;
	left: -5px;
  padding-right: 15px;
	width: 35%;
}

.logo {
	position: absolute;
	z-index: 1000;
}

.primary-nav {
	display: inherit;
	float: left;
	height: inherit;
	line-height: inherit;
	overflow: hidden;
	padding: 0 15px;

  .link {
    display: block;
    float: left;
		line-height: inherit;

    h3 {
			font-weight: bold;
			font-size: 25px;
			line-height: inherit;
    }
		
/* 		&:after {
			border-color: transparent transparent #191919;
			border-style: solid;
			border-width: 7px;
			bottom: 0;
			content: "";
			display: inline-block;
			position: absolute;
			margin-left: -7px;
		} */
  }
}

.quick-nav {
	box-sizing: border-box;
	display: inherit;
  float: right;
	height: inherit;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 15px;
}

.contact {
  font-size: 0.9em;
	font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}

.tools {
  float: right;
  line-height: 2em;
  list-style: none;

  &>li {
    float: left;
    margin-right: 1.5em;

    &>a {
      color: black;
      font-size: 1.6em;
			font-weight: bold;
			padding-bottom: 100%;
    }
  }
}

.header, header:after {
	height: 88px;
}

$properties: display, background-color, height, visibility;
$time: 0.15s, 0.15s, 0.15s, 0.15s;
$methods: ease-out, ease-out, ease-out, ease-out;

.primary-nav-dropdown {
  background-color: black;
	box-sizing: border-box;
  display: none;
  height: 0;
	left: 0;
	line-height: 2.2em;
	padding: 30px;
  position: absolute;
	margin: 0 15px;
	right: 0;
	top: 100%;
  visibility: hidden;

  .title {
    margin-bottom: 15px;
    h4 {
      color: white;
    }
  }

  menuitem {
    clear: both;
    display: block;
    float: left;
    width: 100%;

    &>a {
      color: white;
      margin: 15px auto;
      font-style: italic;
    }
  }
  //@include transition($properties, $time, $methods);
}

.drop {
	background-color: white;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
  display: none;
  height: 0;
  position: absolute;
	top: 100%;
	right: -50px;
  visibility: hidden;
	width: 300px;
	
	&>div, &>form {
		padding: 15px;
	}
}

.show {
	height: auto;
	visibility: visible;
	//@include transition($properties, $time, $methods);
}

.drop {
	font-size: 14px;
	
	.title {
		margin-bottom: 15px;
	}
	.login-form .username, .login-form .password, .login-form .forgot {
		margin-bottom: 0;
	}
	.login-form .forgot {
		line-height: 0.8em;
		margin-bottom: 10px;
		a {
			font-size: 0.8em;
		}
	}

	p {
		font-size: 1.2em;
		line-height: 1.2em;
	}
	label, input {
		line-height: 1em;
	}
	.forgot {
		a {
			font-size: 0.85em;
			line-height: 0.85em;
		}
	}
	
	.account-info {
		text-align: right;
		
		ul {
			margin-bottom: 15px;
		}
	}

	ul li {
		line-height: 1em;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.image {
		display: inline-block;
		line-height: 4.5em;
	}
	.meta {
		p {
			line-height: 1em;
			font-size: 1em;
		}
	}
	
	.price-sm span {
		font-size: 0.85em;
	}
	
	.delete {
		text-align: right;
		span {
			color: red;
			font-size: 0.85em;
		}
	}
	
	.checkout-btn {
		.row {
			margin-bottom: 15px;
		}
		.subtotal {
			color: #d5d5d5;
			font-size: 1.3em;
			font-weight: 500;
		}
		.price {
			float: right;
			margin: 0;
		}
	}
	
	.sign-out, .checkout-btn, .manage, .register {
		border-top: 1px solid #d5d5d5;
		a {
			display: inline-block;
			text-align: center;
			font-size: 1em;
			line-height: 1em;
			padding: 0.75em;
			width: 100%;
		}
	}
	
	.btn {
		font-size: 1em;
		line-height: 1em;
		padding: 0.75em;
		width: 100%;
	}
}