// _home.scss

main {
  z-index: 10;

  .slider, .new-arrivals, .best-sellings {
    margin-bottom: 30px;
  }

  .slider {
    max-height: 620px;
    padding: 0 15px;
    width: 100%;

    .left {
      float: left;
      height: 620px;
      padding-right: 3px;
      width: 65%;
      img {
        height: 620px;
      }
    }

    .right {
      float: right;
      max-height: 620px;
      width: 35%;

      .right-top, .right-bottom {
        float: inherit;
        max-height: inherit;
        width: 100%;
      }

      .right-top {
        padding-bottom: 1.5px;
      }

      .right-bottom {
        padding-top: 1.5px;
      }

      .right-top img, .right-bottom img {
        height: 308.5px;
      }
    }
  }

  .new-arrivals, .best-sellings {
    .subtitle {
      margin-bottom: 10px;
    }
    .list {
      list-style: none;
    }
  }
}