// _product-detail.scss

.breadcrumb {
  background-color: transparent;
	margin: 20px 0 0 0;

  li {
    font-size: 0.8em;

    a {
      color: #d5d5d5;
    }

    &.active {
      color: black;
    }
  }
}

.product-detail {

  section {
    padding: 15px 0;
  }

  .product-profile, .product-features, .review-score {
    border-bottom: 1px solid #d5d5d5;
  }

  .product-profile {

    .title, .disc, .purchase-info, .add-to-cart, .rel-products {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .disc {
      font-size: 0.9em;
      margin-bototm: 10px;

      &:after {
        border-bottom: 1px solid #d5d5d5;
        height: 15px;
        position: relative;
        visibility: visible;
      }

      p {
        color: #a5a5a5;
      }
    }
  }

  .purchase-info {
    .quantity {
      input {
        text-align: right;
        margin-bottom: 0;
      }
    }
    .reviews {
      padding-top: 10px;
    }
  }

  .price {
    padding-top: 9px;
  }

  .product-features {
    .details {
      margin-top: 15px;
      ul {
        list-style: disc;
        margin-left: 1.6em;
      }
    }
  }

  .add-to-cart {
    .btn {
      font-size: 1.3em;
      width: 100%;
    }
  }

  .review-score {
    text-align: center;
    .num {
      margin: 0 auto;
    }
  }
  .rating-lg {
    font-size: 1.6em;
  }
  .rating-lg, .rating-sm {
    display: inline-block;
    text-align: center;

    li {
      float: left;
      margin-right: 1em;

      &:last-child {
        margin-right: 0
      }
    }
  }

  .review-detail {
    margin-bottom: 10px;

    .customer, .date {
      font-size: 0.9em;
      margin-top: 5px;
    }

    .customer .by, .date {
      color: #a5a5a5;;
    }

    .review-body {
      h4 {
        margin-bottom: 15px;
      }
    }
  }

}