.category-row {
  margin-bottom: 15px;
}

.category-tag {
  height: 340px;
  text-align: center;

  &.outer-tag {
    //max-height: 200px;
    //max-width: 200px;
    //min-height: 200px;
    //min-width: 145px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      min-height: inherit;
    }
  }

  .inner-tag {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    top: -15%;
  }

  .view-all {
    margin-top: 1.5em;
    .btn {
      border: 2px solid black;
      display: inline-block;
      padding: 5px 20px;
      margin: 0 auto;
    }
  }
}

.product-card {
  height: 340px;

  .pics {
    max-height: 200px;
    //max-width: 200px;
    min-height: 200px;
    //min-width: 145px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      min-height: inherit;
    }
    .image-wrapper {
      box-sizing: border-box;
      display: inline-block;
      left: -10px;
      //min-width: 145px;
      position: relative;
      text-align: center;

      a {
        display: inline-block;

        img {
          display: inline;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 200px;
          vertical-align: middle;
        }
      }
    }
  }
}