// _register.scss

input[type="checkbox"] {
  border-radius: 0;
  padding: 3px;
}

.register {
  .top {
    &:after {
      border-bottom: 1px solid #d5d5d5;
      height: 15px;
      visibility: visible;
    }
    .title {
      text-align: left;
      margin: 6.5px 0;
    }
    &+section {
      margin: 15px 0;
    }
  }
  .register-section {
    border-right: 1px solid #d5d5d5;
  }
}

.checkout-form, .register-form {
  fieldset {
    margin-bottom: 15px;
    input, label {
      float: left;
    }
    input {
      border-radius: 0;
      margin-bottom: 0;
    }
    label {
      color: #a5a5a5;
      margin-bottom: 15px;
      &.advice {
        margin-bottom: 0;
      }
    }
    &.password {
      .advice {
        font-size: 0.8em;
      }
    }
    &.terms {
      margin-bottom: 5px;
      label {
        color: $theme-blue;
        margin-bottom: 0;
      }
    }
    &.confirm button {
      float: right;
      font-size: 1.1em;
      padding: 0.5em 1.8em;
      margin-top: 15px;
    }
    &.submit input {
      float: right;
      font-size: 1.1em;
      padding: 0.75em 1.8em;
      margin-top: 15px;
    }
    &.expire-date {
      div {
        clear: both;
        input {
          width: 45%;
        }
        span {
          display: block;
          font-size: 1.2em;
          float: left;
          line-height: 2.2em;
          text-align: center;
          width: 10%;
        }
      }
    }
    &.create-account {
      input, label {
        color: black;
        font-size: 1.2em;
      }
    }
  }
}