// _shopping-cart.scss

@mixin price-section() {
  .price-tag {
    color: #a5a5a5;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
  }
  .price {
    font-size: 1.2em;
    font-weight: 500;
    text-align: right;
  }
}

.checkout {
	&.top {
		&:after {
			border-bottom: 1px solid #d5d5d5;
			height: 15px;
			visibility: visible;
		}
		.title {
			text-align: left;
			
			h2 {
				line-height: 47px;
			}
		}
	}

	&.bottom {
		&:before {
			border-top: 1px solid #d5d5d5;
			display: block;
			height: 15px;
			visibility: visible;
		}
		padding: 15px;
	}

	&.top, &.bottom {
		.btn {
			float: right;
			font-size: 1.18em;
		}
	}

	.continue-shopping {
		font-size: 0.9em;
		text-align: right;
		margin-top: 15px;
	}
}

.single-item-price {
	@include price-section();
}
.shipping-price {
	@include price-section();
}
.tax-price {
	@include price-section();
}
.total {
	&:before {
		border-top: 1px solid #d5d5d5;
		height: 15px;
		margin: 0 7%;
		visibility: visible;
		width: 86%;
	}
	padding-top: 5px;
	margin-top: 5px;
	@include price-section();
}

.product {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }

  .name-lg {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .name-md {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .meta {
    color: #a5a5a5;
    font-size: 0.9em;
    font-weight: 500;
    margin: 11px 0;
  }
  .quantity {
    span {
      float: left;
      margin: 8px 0;
    }
  }
  .subtotal {
    font-size: 1.1em;
    margin: 5px 0;
  }
  .remove a {
    color: red;
    font-size: 0.9em;
  }
}

.price {
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px 0;
}