<main>
  <div class="slider clearfix">
    <div class="row">
      <div class="left">
        <a href="#/productDetail"><img src="images/kitchen_adventurer_caramel.jpg" alter="slider"></a>
      </div>
      <div class="right">
        <div class="right-top">
          <a href="#/productDetail"><img src="images/kitchen_adventurer_cheesecake_brownie.jpg" alter="slider"></a>
        </div>
        <div class="right-bottom">
          <a href="#/productDetail"><img src="images/kitchen_adventurer_donut.jpg" alter="slider"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="new-arrivals clearfix">
    <div class="subtitle row">
      <div class="col-xs-12">
        <h3>New Arrivals</h3>
      </div>
    </div>
    <div class="row">
      <ul class="list">
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="best-sellings clearfix">
    <div class="subtitle row">
      <div class=" col-xs-12">
        <h3>Best Sellings</h3>
      </div>
    </div>
    <div class="row">
      <ul class="list">
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
        <li class="col-md-15">
          <div class="product-card">
            <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
            </div>
            <div class="disc">
              <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
            </div>
            <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>