<main>
  <!-- shopping cart section -->
  <article class="checkout-options">
    <div class="top row">
      <div class="col-xs-12 title">
        <h2>Checkout Options</h2>
      </div>
    </div>
    <!-- login section for registered user -->
    <section class="row options-section">
      <section class="col-md-6 login">
        <form class="login-form" action="#/checkout">
          <fieldset class="subtitle">
            <h4>Registered Already?</h4>
          </fieldset>
          <fieldset class="username">
            <label>Email Address&nbsp;<span class="required">*</span></label>
            <input type="email" required>
          </fieldset>
          <fieldset class="password">
            <label>Password&nbsp;<span class="required">*</span></label>
            <input type="password" required>
          </fieldset>
          <fieldset class="forgot">
            <a href="#/forgot">Forget Password?</a>
          </fieldset>
          <fieldset class="checkout">
            <input class="btn" type="submit" value="Login & Secure Checkout">
          </fieldset>
        </form>
      </section>
      <!-- login section end -->
      <!-- guest checkout section -->
      <section class="col-md-6 guest">
        <div class="subtitle">
          <h4>New Customer?</h4>
        </div>
        <div class="info">
          <p>You don't need an account to purchase from us! During checkout you'll have the option to register for an account.</p>
        </div>
        <div>
          <!-- temporarily add a tag to redirect the page to checkout.html -->
          <a href="#/checkout" style="color: white"><button class="btn">Checkout as a Guest</button></a>
        </div>
      </section>
      <!-- guest checkout section end -->
    </section>
  </article>
</main>