<main>
  <!-- shopping cart section -->
  <form class="shopping-cart" action="#/checkoutOptions">
    <div class="checkout top row">
      <div class="col-md-6 title">
        <h2>Shopping Cart</h2>
      </div>
      <div class="col-md-6 checkout-btn">
        <input class="btn" type="submit" value="Secure Checkout">
      </div>
    </div>
    <!-- list section -->
    <section class="list">
      <div class="row product">
        <div class="col-md-3 pic">
          <img src="images/kitchen_adventurer_lemon.jpg" alter="product">
        </div>
        <div class="col-md-9 name-lg">
          <p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
        </div>
        <!-- details about product meta, quantity and price -->
        <div class="col-md-9 purchase-info">
          <div class="row">
            <div class="col-xs-6 meta">
              <span>Color:</span>&nbsp;<span>White</span>
            </div>
            <section class="quantity">
              <div class="col-xs-2">
                <input type="number" value="3">
              </div>
              <div class="col-xs-1">
                <span>*</span>
              </div>
            </section>
            <div class="col-xs-3 price">
              <span>$16.99</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 remove">
          <a href="#">Remove</a>
        </div>
      </div>
      <div class="row product">
        <div class="col-md-3 pic">
          <img src="images/kitchen_adventurer_lemon.jpg" alter="product">
        </div>
        <div class="col-md-9 name-lg">
          <p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
        </div>
        <!-- details about product meta, quantity and price -->
        <div class="col-md-9 purchase-info">
          <div class="row">
            <div class="col-xs-6 meta">
              <span>Color:</span>&nbsp;<span>White</span>
            </div>
            <section class="quantity">
              <div class="col-xs-2">
                <input type="number" value="3">
              </div>
              <div class="col-xs-1">
                <span>*</span>
              </div>
            </section>
            <div class="col-xs-3 price">
              <span>$16.99</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 remove">
          <a href="#">Remove</a>
        </div>
      </div>
    </section>
    <!-- list section end -->
    <div class="checkout bottom row">
      <div class="total-price col-md-5">
        <div class="single-item-price row">
          <div class="col-xs-5 col-xs-push-1 price-tag">6 item(s) subtotal:</div>
          <div class="col-xs-5 col-xs-push-1 price"><span>$</span>&nbsp;<span>101.94</span></div>
        </div>
        <div class="single-item-price row">
          <div class="col-xs-5 col-xs-push-1 price-tag">6 item(s) subtotal:</div>
          <div class="col-xs-5 col-xs-push-1 price"><span>$</span>&nbsp;<span>101.94</span></div>
        </div>
        <div class="shipping-price top-15 row">
          <div class="col-xs-5 col-xs-push-1 price-tag">shipping & handling:</div>
          <div class="col-xs-5 col-xs-push-1 price"><span>$</span>&nbsp;<span>0.00</span></div>
        </div>
        <div class="total row">
          <div class="col-xs-5 col-xs-push-1 price-tag">Total:</div>
          <div class="col-xs-5 col-xs-push-1 price"><span>$</span>&nbsp;<span>203.88</span></div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 checkout-btn">
        <div class="row">
          <div class="col-xs-12">
            <input class="btn" type="submit" value="Secure Checkout">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 continue-shopping">
            <a href="#/home">Continue Shopping -></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>