<script src="javascript/customize.js"></script>
<main>
	<article class="account accordion-tabs">
		<!-- checkout form -->
		<section class="headers">
			<div class="row">
				<div class="col-xs-12 title">
					<ul class="accordion-tab-headers clearfix">
						<li name="account-info" class="col-md-3 tab-header">
							<a href="javascript:void(0)" class="is-active tab-link">
								<h4>Account Info</h4>
							</a>
						</li>
						<li name="address-book" class="col-md-3 tab-header">
							<a href="javascript:void(0)" class="tab-link">
								<h4>Address Book</h4>
							</a>
						</li>
						<li name="order-history" class="col-md-3 tab-header">
							<a href="javascript:void(0)" class="tab-link">
								<h4>Order History</h4>
							</a>
						</li>
						<li name="product-review" class="col-md-3 product-review">
							<a href="#/register">
								<h4>Sign Out</h4>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="contents">
			<div class="row">
				<!-- form section -->
				<section class="form">
					<div class="checkout-form accordion-tab-contents">
						<!-- account info section -->
						<section name="account-info" class="tab-content">
			        <div>
								<div class="col-xs-12 title bottom-line">
									<h3>My Account Information</h3>
								</div>
							</div>
							<div>
								<form class="col-md-6 register-form" action="#/userInfo">
									<fieldset class="username">
										<label>Name:</label>
										<input type="text">
									</fieldset>
									<fieldset class="email">
										<label>Email Address:</label>
										<input type="email" required>
									</fieldset>
									<fieldset class="password">
										<label>Password:</label>
										<input type="password" required>
										<label class="advice">Make sure to use a strong password.</label>
									</fieldset>
									<fieldset class="confirm">
										<label>Confirm Password:</label>
										<input type="password" required>
									</fieldset>
									<fieldset class="newsletter">
										<input type="checkbox">
										<label>Receive newsletter</label>
									</fieldset>
									<fieldset class="gender">
										<label>Gender:</label>
										<input type="text">
									</fieldset>
									<fieldset class="birthday">
										<label>Birthday:</label>
										<input type="text">
									</fieldset>
									<fieldset class="phone">
										<label>Phone:</label>
										<input type="tel">
									</fieldset>
									<fieldset>
										<input class="btn" type="submit" value="Update">
									</fieldset>
								</form>
							</div>
						</section>
						<!-- account info section end -->
						<!-- address book section -->
						<section name="address-book" class="tab-content">
			        <div>
								<div class="col-xs-12 title bottom-line">
									<h3>Address Book</h3>
								</div>
							</div>
							<div>
								<ul>
									<li>
										<div class="address-wrapper">
											<div class="col-md-3">
												<h4>Home</h4>
												<a href="#">Edit</a>
												<a href="#">Remove</a>
											</div>
											<div class="col-md-9">
												<span>Jason TC</span>
												<div class="address">
													<span class="address-line-1">1-006 West, District A, #5 Xueyuan Rd.</span>
													<br>
													<span class="city">Beijing</span>,&nbsp;<span class="state">AL</span>&nbsp;<span class="zip">100083</span>
													<br>
													<span class="contry">United States of America</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<div class="col-xs-9 col-xs-push-3">
									<button class="btn">Add New Address</button>
								</div>
							</div>
						</section>
						<!-- address book section end -->
						<!-- order history section -->
						<section name="order-history" class="tab-content">
			        <div>
								<div class="col-xs-12 title bottom-line">
									<h3>Order History</h3>
								</div>
							</div>
							<div>
								<ul>
									<li>
										<div class="address-wrapper">
											<div class="col-md-4">
												<h4>Order&nbsp;<span>#abc123456</span></h4>
												<div class="total-price top-15">
													<div class="single-item-price row">
														<div class="col-xs-6 price-tag">6 item(s) subtotal:</div>
														<div class="col-xs-6 price"><span>$</span>&nbsp;<span>101.94</span></div>
													</div>
													<div class="shipping-price row">
														<div class="col-xs-6 price-tag">Shipping:</div>
														<div class="col-xs-6 price"><span>$</span>&nbsp;<span>0.00</span></div>
													</div>
													<div class="tax-price row">
														<div class="col-xs-6 price-tag">Tax:</div>
														<div class="col-xs-6 price"><span>$</span>&nbsp;<span>0.00</span></div>
													</div>
													<div class="total row">
														<div class="col-xs-6 price-tag">Total:</div>
														<div class="col-xs-6 price"><span>$</span>&nbsp;<span>101.94</span></div>
													</div>
												</div>
											</div>
											<div class="col-md-8">
												<div class="order-list bottom-line">
													<div class="row product">
														<div class="col-md-3 pic">
															<img src="images/kitchen_adventurer_lemon.jpg" alter="product">
														</div>
														<div class="col-md-9">
															<div class="name">
																<p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
															</div>
															<div class="meta">
																<span>Color:</span>&nbsp;<span>White</span>
															</div>
															<div class="subtotal">
																<span>Subtotal:</span>&nbsp;<span>$16.99</span>
															</div>
														</div>
													</div>
													<div class="row product">
														<div class="col-md-3 pic">
															<img src="images/kitchen_adventurer_lemon.jpg" alter="product">
														</div>
														<div class="col-md-9">
															<div class="name-md">
																<p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
															</div>
															<div class="meta">
																<span>Color:</span>&nbsp;<span>White</span>
															</div>
															<div class="subtotal">
																<span>Subtotal:</span>&nbsp;<span>$16.99</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</section>
						<!-- order history section end -->
					</div>
				</section>
				<!-- form section end -->
			</div>
		</section>
	</article>
</main>