<main>
  <!-- shopping cart section -->
  <article class="register remodal-bg">
    <div class="row">
      <!-- register section -->
      <section class="col-md-6 register-section">
        <div class="row top">
          <div class="col-xs-12 title">
            <h2>Create Account</h2>
          </div>
        </div>
        <form class="register-form" action="#/userInfo">
          <fieldset class="username">
            <label>Name:</label>
            <input type="text">
          </fieldset>
          <fieldset class="email">
            <label>Email Address:</label>
            <input type="email" required>
          </fieldset>
          <fieldset class="password">
            <label>Password:</label>
            <input type="password" required>
            <label class="advice">Make sure to use a strong password.</label>
          </fieldset>
          <fieldset class="confirm">
            <label>Confirm Password:</label>
            <input type="password" required>
          </fieldset>
          <fieldset class="terms">
            <input type="checkbox" required>
            <label>I agree to the Terms</label>
          </fieldset>
          <fieldset class="newsletter">
            <input type="checkbox">
            <label>Sign up for our newsletter</label>
          </fieldset>
          <fieldset>
            <input class="btn" type="submit" value="Create Account">
          </fieldset>
        </form>
      </section>
      <!-- register section end -->
      <!-- login section -->
      <section class="col-md-6 login-section">
        <div class="row top">
          <div class="col-xs-12 title">
            <h2>Login</h2>
          </div>
        </div>
        <form class="login-form" action="#/userInfo">
          <fieldset class="username">
          <label>Email Address&nbsp;<span class="required">*</span></label>
          <input type="email" required>
        </fieldset>
          <fieldset class="password">
            <label>Password&nbsp;<span class="required">*</span></label>
            <input type="password" required>
          </fieldset>
          <fieldset class="forgot">
            <a href="#/forgot">Forget Password?</a>
          </fieldset>
          <fieldset class="checkout">
            <input class="btn" type="submit" value="Login & Secure Checkout">
<!-- 						<a data-remodal-target="modal">Call the modal with data-remodal-id="modal"</a> -->
          </fieldset>
        </form>
      </section>
      <!-- login section end -->
    </div>
  </article>
<!-- 	<div class="remodal-overlay"></div>
 	<div class="remodal-wrapper">
		<div class="remodal" data-remodal-id="modal">
			<h1>Remodal</h1>
			<p>
				Flat, responsive, lightweight, fast, easy customizable modal window plugin
				with declarative state notation and hash tracking.
			</p>
			<br>
			<a class="remodal-cancel" href="#">Cancel</a>
			<a class="remodal-confirm" href="#">OK</a>
		</div>
	</div> -->
</main>