<script src="javascript/customize.js"></script>
<main>
  <article class="checkout accordion-tabs">
    <!-- checkout form -->
    <section class="headers">
      <div class="row">
        <div class="col-xs-12 title">
          <ul class="accordion-tab-headers clearfix">
            <li name="shipping" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="is-active tab-link"><h4><span>1.</span>&nbsp;Shipping</h4></a>
            </li>
            <li name="billing" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="tab-link"><h4><span>2.</span>&nbsp;Billing</h4></a>
            </li>
            <li name="review" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="tab-link"><h4><span>3.</span>&nbsp;Review</h4></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="contents">
      <div class="row">
        <!-- form section -->
        <section class="col-md-6 form">
          <form class="checkout-form accordion-tab-contents">
            <!-- shipping section -->
            <section name="shipping" class="tab-content">
              <div class="title bottom-line">
                <h4>1.Shipping</h4>
              </div>
              <div class="subtitle">
                <h5>Shipping Address:</h5>
              </div>
              <fieldset class="fullname">
                <label>Full Name:</label>
                <input type="text">
              </fieldset>
              <fieldset class="address">
                <label>Street Address:</label>
                <input type="text">
              </fieldset>
              <fieldset class="zip">
                <label>Zip:</label>
                <input type="text">
              </fieldset>
              <fieldset class="city">
                <label>City:</label>
                <input type="text">
              </fieldset>
              <fieldset class="country">
                <label>Country:</label>
                <input type="text">
              </fieldset>
              <fieldset class="state">
                <label>State:</label>
                <input type="text">
              </fieldset>
              <fieldset class="phone">
                <label>Phone:</label>
                <input type="tel">
              </fieldset>
              <div class="subtitle">
                <h5>Contact Info:</h5>
              </div>
              <fieldset class="email">
                <label>Your Email address:</label>
                <input type="email">
              </fieldset>
              <fieldset class="update">
                <input type="checkbox">
                <label>Receive Updates?</label>
              </fieldset>
              <fieldset class="confirm">
                <button name="shipping" class="btn">Confirm</button>
              </fieldset>
            </section>
            <!-- shipping section end -->
            <!-- billing section -->
            <section name="billing" class="tab-content">
              <div class="title bottom-line">
                <h4>2.Billing</h4>
              </div>
              <div class="subtitle">
                <h5>Payment Method:</h5>
              </div>
              <fieldset class="ccn">
                <label>Credit Card Number:</label>
                <input type="text">
              </fieldset>
              <fieldset class="cvv">
                <label>CVV Code:</label>
                <input type="text">
              </fieldset>
              <fieldset class="expire-date">
                <label>Expire Date:</label>
                <div class="clearfix">
                  <input type="text">
                  <span>/</span>
                  <input type="text">
                </div>
              </fieldset>
              <div class="subtitle">
                <h5>Billing Address:</h5>
              </div>
              <fieldset class="new-billing">
                <input type="checkbox">
                <label>Same as shipping address?</label>
              </fieldset>
              <fieldset class="confirm">
                <button name="billing" class="btn">Confirm</button>
              </fieldset>
            </section>
            <!-- billing section end -->
            <!-- review section -->
            <section name="review" class="tab-content">
              <div class="title bottom-line">
                <h4>3.Review</h4>
              </div>
              <fieldset class="create-account">
                <input type="checkbox">
                <label>Yes! Create an account for me.</label>
              </fieldset>
              <fieldset class="password">
                <label>Enter a password to secure your account:</label>
                <input type="password" required>
                <label class="advice">Make sure to use a strong password.</label>
              </fieldset>
              <fieldset class="confirm">
                <label>Confirm Your Password:</label>
                <input type="password" required>
              </fieldset>
              <fieldset class="submit">
                <input name="shipping" class="btn" type="submit" value="Submit Order">
              </fieldset>
            </section>
            <!-- review section end -->
          </form>
        </section>
        <!-- form section end -->
        <!-- order-info section -->
        <section class="col-md-6 order-info">
          <div class="title bottom-line">
            <h4>Order Information</h4>
          </div>
          <!-- ordered products list -->
          <div class="order-list bottom-line">
            <div class="row product">
              <div class="col-md-4 pic">
                <img src="images/kitchen_adventurer_lemon.jpg" alter="product">
              </div>
              <div class="col-md-8">
                <div class="name">
                  <p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
                </div>
                <div class="meta">
                  <span>Color:</span>&nbsp;<span>White</span>
                </div>
                <div class="subtotal">
                  <span>Subtotal:</span>&nbsp;<span>$16.99</span>
                </div>
              </div>
            </div>
            <div class="row product">
              <div class="col-md-4 pic">
                <img src="images/kitchen_adventurer_lemon.jpg" alter="product">
              </div>
              <div class="col-md-8">
                <div class="name-md">
                  <p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
                </div>
                <div class="meta">
                  <span>Color:</span>&nbsp;<span>White</span>
                </div>
                <div class="subtotal">
                  <span>Subtotal:</span>&nbsp;<span>$16.99</span>
                </div>
              </div>
            </div>
          </div>
          <!-- ordered products list end -->
          <div class="shipping-price bottom-line">
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">6 Item(s) Subtotal:</span></div>
              <div class="col-xs-6"><span>$101.49</span></div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">Shipping:</span></div>
              <div class="col-xs-6"><span>$0.00</span></div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">Tax:</span></div>
              <div class="col-xs-6"><span>$0.00</span></div>
            </div>
          </div>
          <div class="total">
            <div class="row">
              <h4>
                <div class="col-xs-5 col-xs-offset-1">Total:</span></div>
                <div class="col-xs-6"><span>$101.49</span></div>
              </h4>
            </div>
          </div>
          <div class="address">
            <input type="radio" name="address" value="existed">(Home) Jason TC , xxxxx
            <br>
            <input type="radio" name="address" value="new" checked="checked">New Address
          </div>
        </section>
        <!-- order-info section end -->
      </div>
    </section>
  </article>
</main>