/* style.scss */
/* font-face */
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Thin.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-ThinItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-ExtraLight.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-ExtraLightItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-LightItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Italic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Medium.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-MediumItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-BoldItalic.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Input Mono Compressed';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/InputMonoCompressed/InputMonoCompressed-BlackItalic.ttf) format("truetype"); }
/* global settings and external library lists */
/* import external library */
/* external library list */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

a {
  color: black; }
  a:hover, a:focus {
    text-decoration: none;
    color: black; }

.row:after, .clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

table {
  width: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background-color: transparent;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Input Mono Compressed", sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html, body {
  height: 100%;
  margin: 0;
  width: 100%; }

.btn, .btn-black {
  border-radius: 0 !important;
  color: #fff;
  font-family: "Input Mono Compressed", sans-serif !important;
  font-weight: 500 !important; }

.btn {
  background-color: #477dca; }

.btn-black {
  background-color: black; }

.btn:hover {
  background-color: #2c5999;
  color: #fff; }

.btn-black:hover {
  background-color: black;
  color: #fff; }

h1 {
  line-height: 44px;
  font-size: 42px;
  font-weight: 500; }

h2 {
  line-height: 34px;
  font-size: 32px;
  font-weight: 500; }

h3 {
  line-height: 29px;
  font-size: 24px;
  font-weight: 500; }

h4 {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500; }

h5 {
  line-height: 21px;
  font-size: 16px;
  font-weight: 500; }

h6 {
  line-height: 17px;
  font-size: 14px;
  font-weight: 500; }

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
  font-size: 22px;
  line-height: 20px; }

.container {
  max-width: 1440px; }

.wrapper {
  position: relative;
  min-height: 100%;
  display: block; }

.top {
  padding: 15px;
  margin-bottom: 15px; }

.top-15 {
  margin-top: 15px; }

.top-line:before {
  border-top: 1px solid #d5d5d5;
  content: " ";
  display: block;
  height: 15px;
  margin-top: 15px;
  visibility: visible; }

.bottom-line:after {
  border-bottom: 1px solid #d5d5d5;
  content: " ";
  display: block;
  height: 15px;
  margin-bottom: 15px;
  visibility: visible; }

/* Header */
.header {
  background-color: white;
  display: block;
  margin: 0 -15px;
  position: fixed;
  z-index: 1000; }
  .header nav {
    box-sizing: content-box;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    height: 80px;
    line-height: 98px;
    padding-top: 8px; }

.logo, .logo-holder {
  display: inherit;
  float: left;
  height: inherit;
  left: -5px;
  padding-right: 15px;
  width: 35%; }

.logo {
  position: absolute;
  z-index: 1000; }

.primary-nav {
  display: inherit;
  float: left;
  height: inherit;
  line-height: inherit;
  overflow: hidden;
  padding: 0 15px; }
  .primary-nav .link {
    display: block;
    float: left;
    line-height: inherit;
    /* 		&:after {
    			border-color: transparent transparent #191919;
    			border-style: solid;
    			border-width: 7px;
    			bottom: 0;
    			content: "";
    			display: inline-block;
    			position: absolute;
    			margin-left: -7px;
    		} */ }
    .primary-nav .link h3 {
      font-weight: bold;
      font-size: 25px;
      line-height: inherit; }

.quick-nav {
  box-sizing: border-box;
  display: inherit;
  float: right;
  height: inherit;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 15px; }

.contact {
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px; }

.tools {
  float: right;
  line-height: 2em;
  list-style: none; }
  .tools > li {
    float: left;
    margin-right: 1.5em; }
    .tools > li > a {
      color: black;
      font-size: 1.6em;
      font-weight: bold;
      padding-bottom: 100%; }

.header, header:after {
  height: 88px; }

.primary-nav-dropdown {
  background-color: black;
  box-sizing: border-box;
  display: none;
  height: 0;
  left: 0;
  line-height: 2.2em;
  padding: 30px;
  position: absolute;
  margin: 0 15px;
  right: 0;
  top: 100%;
  visibility: hidden; }
  .primary-nav-dropdown .title {
    margin-bottom: 15px; }
    .primary-nav-dropdown .title h4 {
      color: white; }
  .primary-nav-dropdown menuitem {
    clear: both;
    display: block;
    float: left;
    width: 100%; }
    .primary-nav-dropdown menuitem > a {
      color: white;
      margin: 15px auto;
      font-style: italic; }

.drop {
  background-color: white;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  display: none;
  height: 0;
  position: absolute;
  top: 100%;
  right: -50px;
  visibility: hidden;
  width: 300px; }
  .drop > div, .drop > form {
    padding: 15px; }

.show {
  height: auto;
  visibility: visible; }

.drop {
  font-size: 14px; }
  .drop .title {
    margin-bottom: 15px; }
  .drop .login-form .username, .drop .login-form .password, .drop .login-form .forgot {
    margin-bottom: 0; }
  .drop .login-form .forgot {
    line-height: 0.8em;
    margin-bottom: 10px; }
    .drop .login-form .forgot a {
      font-size: 0.8em; }
  .drop p {
    font-size: 1.2em;
    line-height: 1.2em; }
  .drop label, .drop input {
    line-height: 1em; }
  .drop .forgot a {
    font-size: 0.85em;
    line-height: 0.85em; }
  .drop .account-info {
    text-align: right; }
    .drop .account-info ul {
      margin-bottom: 15px; }
  .drop ul li {
    line-height: 1em;
    margin-bottom: 10px; }
    .drop ul li:last-child {
      margin-bottom: 0; }
  .drop .image {
    display: inline-block;
    line-height: 4.5em; }
  .drop .meta p {
    line-height: 1em;
    font-size: 1em; }
  .drop .price-sm span {
    font-size: 0.85em; }
  .drop .delete {
    text-align: right; }
    .drop .delete span {
      color: red;
      font-size: 0.85em; }
  .drop .checkout-btn .row {
    margin-bottom: 15px; }
  .drop .checkout-btn .subtotal {
    color: #d5d5d5;
    font-size: 1.3em;
    font-weight: 500; }
  .drop .checkout-btn .price {
    float: right;
    margin: 0; }
  .drop .sign-out, .drop .checkout-btn, .drop .manage, .drop .register {
    border-top: 1px solid #d5d5d5; }
    .drop .sign-out a, .drop .checkout-btn a, .drop .manage a, .drop .register a {
      display: inline-block;
      text-align: center;
      font-size: 1em;
      line-height: 1em;
      padding: 0.75em;
      width: 100%; }
  .drop .btn {
    font-size: 1em;
    line-height: 1em;
    padding: 0.75em;
    width: 100%; }

/* Home */
main {
  z-index: 10; }
  main .slider, main .new-arrivals, main .best-sellings {
    margin-bottom: 30px; }
  main .slider {
    max-height: 620px;
    padding: 0 15px;
    width: 100%; }
    main .slider .left {
      float: left;
      height: 620px;
      padding-right: 3px;
      width: 65%; }
      main .slider .left img {
        height: 620px; }
    main .slider .right {
      float: right;
      max-height: 620px;
      width: 35%; }
      main .slider .right .right-top, main .slider .right .right-bottom {
        float: inherit;
        max-height: inherit;
        width: 100%; }
      main .slider .right .right-top {
        padding-bottom: 1.5px; }
      main .slider .right .right-bottom {
        padding-top: 1.5px; }
      main .slider .right .right-top img, main .slider .right .right-bottom img {
        height: 308.5px; }
  main .new-arrivals .subtitle, main .best-sellings .subtitle {
    margin-bottom: 10px; }
  main .new-arrivals .list, main .best-sellings .list {
    list-style: none; }

/* Register */
input[type="checkbox"] {
  border-radius: 0;
  padding: 3px; }

.register .top:after {
  border-bottom: 1px solid #d5d5d5;
  height: 15px;
  visibility: visible; }
.register .top .title {
  text-align: left;
  margin: 6.5px 0; }
.register .top + section {
  margin: 15px 0; }
.register .register-section {
  border-right: 1px solid #d5d5d5; }

.checkout-form fieldset, .register-form fieldset {
  margin-bottom: 15px; }
  .checkout-form fieldset input, .checkout-form fieldset label, .register-form fieldset input, .register-form fieldset label {
    float: left; }
  .checkout-form fieldset input, .register-form fieldset input {
    border-radius: 0;
    margin-bottom: 0; }
  .checkout-form fieldset label, .register-form fieldset label {
    color: #a5a5a5;
    margin-bottom: 15px; }
    .checkout-form fieldset label.advice, .register-form fieldset label.advice {
      margin-bottom: 0; }
  .checkout-form fieldset.password .advice, .register-form fieldset.password .advice {
    font-size: 0.8em; }
  .checkout-form fieldset.terms, .register-form fieldset.terms {
    margin-bottom: 5px; }
    .checkout-form fieldset.terms label, .register-form fieldset.terms label {
      color: #3a89e2;
      margin-bottom: 0; }
  .checkout-form fieldset.confirm button, .register-form fieldset.confirm button {
    float: right;
    font-size: 1.1em;
    padding: 0.5em 1.8em;
    margin-top: 15px; }
  .checkout-form fieldset.submit input, .register-form fieldset.submit input {
    float: right;
    font-size: 1.1em;
    padding: 0.75em 1.8em;
    margin-top: 15px; }
  .checkout-form fieldset.expire-date div, .register-form fieldset.expire-date div {
    clear: both; }
    .checkout-form fieldset.expire-date div input, .register-form fieldset.expire-date div input {
      width: 45%; }
    .checkout-form fieldset.expire-date div span, .register-form fieldset.expire-date div span {
      display: block;
      font-size: 1.2em;
      float: left;
      line-height: 2.2em;
      text-align: center;
      width: 10%; }
  .checkout-form fieldset.create-account input, .checkout-form fieldset.create-account label, .register-form fieldset.create-account input, .register-form fieldset.create-account label {
    color: black;
    font-size: 1.2em; }

/* Account */
.account .product-review {
  text-align: right; }
  .account .product-review h4 {
    color: #d5d5d5; }

/* Products List */
.category-row {
  margin-bottom: 15px; }

.category-tag {
  height: 340px;
  text-align: center; }
  .category-tag.outer-tag {
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap; }
    .category-tag.outer-tag:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      min-height: inherit; }
  .category-tag .inner-tag {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    top: -15%; }
  .category-tag .view-all {
    margin-top: 1.5em; }
    .category-tag .view-all .btn {
      border: 2px solid black;
      display: inline-block;
      padding: 5px 20px;
      margin: 0 auto; }

.product-card {
  height: 340px; }
  .product-card .pics {
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap; }
    .product-card .pics:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      min-height: inherit; }
    .product-card .pics .image-wrapper {
      box-sizing: border-box;
      display: inline-block;
      left: -10px;
      position: relative;
      text-align: center; }
      .product-card .pics .image-wrapper a {
        display: inline-block; }
        .product-card .pics .image-wrapper a img {
          display: inline;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 200px;
          vertical-align: middle; }

/* Product Detail */
.breadcrumb {
  background-color: transparent;
  margin: 20px 0 0 0; }
  .breadcrumb li {
    font-size: 0.8em; }
    .breadcrumb li a {
      color: #d5d5d5; }
    .breadcrumb li.active {
      color: black; }

.product-detail section {
  padding: 15px 0; }
.product-detail .product-profile, .product-detail .product-features, .product-detail .review-score {
  border-bottom: 1px solid #d5d5d5; }
.product-detail .product-profile .title, .product-detail .product-profile .disc, .product-detail .product-profile .purchase-info, .product-detail .product-profile .add-to-cart, .product-detail .product-profile .rel-products {
  padding-top: 5px;
  padding-bottom: 5px; }
.product-detail .product-profile .disc {
  font-size: 0.9em;
  margin-bototm: 10px; }
  .product-detail .product-profile .disc:after {
    border-bottom: 1px solid #d5d5d5;
    height: 15px;
    position: relative;
    visibility: visible; }
  .product-detail .product-profile .disc p {
    color: #a5a5a5; }
.product-detail .purchase-info .quantity input {
  text-align: right;
  margin-bottom: 0; }
.product-detail .purchase-info .reviews {
  padding-top: 10px; }
.product-detail .price {
  padding-top: 9px; }
.product-detail .product-features .details {
  margin-top: 15px; }
  .product-detail .product-features .details ul {
    list-style: disc;
    margin-left: 1.6em; }
.product-detail .add-to-cart .btn {
  font-size: 1.3em;
  width: 100%; }
.product-detail .review-score {
  text-align: center; }
  .product-detail .review-score .num {
    margin: 0 auto; }
.product-detail .rating-lg {
  font-size: 1.6em; }
.product-detail .rating-lg, .product-detail .rating-sm {
  display: inline-block;
  text-align: center; }
  .product-detail .rating-lg li, .product-detail .rating-sm li {
    float: left;
    margin-right: 1em; }
    .product-detail .rating-lg li:last-child, .product-detail .rating-sm li:last-child {
      margin-right: 0; }
.product-detail .review-detail {
  margin-bottom: 10px; }
  .product-detail .review-detail .customer, .product-detail .review-detail .date {
    font-size: 0.9em;
    margin-top: 5px; }
  .product-detail .review-detail .customer .by, .product-detail .review-detail .date {
    color: #a5a5a5; }
  .product-detail .review-detail .review-body h4 {
    margin-bottom: 15px; }

/* Shopping Cart */
.checkout.top:after {
  border-bottom: 1px solid #d5d5d5;
  height: 15px;
  visibility: visible; }
.checkout.top .title {
  text-align: left; }
  .checkout.top .title h2 {
    line-height: 47px; }
.checkout.bottom {
  padding: 15px; }
  .checkout.bottom:before {
    border-top: 1px solid #d5d5d5;
    display: block;
    height: 15px;
    visibility: visible; }
.checkout.top .btn, .checkout.bottom .btn {
  float: right;
  font-size: 1.18em; }
.checkout .continue-shopping {
  font-size: 0.9em;
  text-align: right;
  margin-top: 15px; }

.single-item-price .price-tag {
  color: #a5a5a5;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em; }
.single-item-price .price {
  font-size: 1.2em;
  font-weight: 500;
  text-align: right; }

.shipping-price .price-tag {
  color: #a5a5a5;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em; }
.shipping-price .price {
  font-size: 1.2em;
  font-weight: 500;
  text-align: right; }

.tax-price .price-tag {
  color: #a5a5a5;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 2em; }
.tax-price .price {
  font-size: 1.2em;
  font-weight: 500;
  text-align: right; }

.total {
  padding-top: 5px;
  margin-top: 5px; }
  .total:before {
    border-top: 1px solid #d5d5d5;
    height: 15px;
    margin: 0 7%;
    visibility: visible;
    width: 86%; }
  .total .price-tag {
    color: #a5a5a5;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em; }
  .total .price {
    font-size: 1.2em;
    font-weight: 500;
    text-align: right; }

.product {
  margin-bottom: 25px; }
  .product:last-child {
    margin-bottom: 0; }
  .product .name-lg {
    font-size: 1.5em;
    margin-bottom: 15px; }
  .product .name-md {
    font-size: 1.1em;
    margin-bottom: 10px; }
  .product .meta {
    color: #a5a5a5;
    font-size: 0.9em;
    font-weight: 500;
    margin: 11px 0; }
  .product .quantity span {
    float: left;
    margin: 8px 0; }
  .product .subtotal {
    font-size: 1.1em;
    margin: 5px 0; }
  .product .remove a {
    color: red;
    font-size: 0.9em; }

.price {
  font-size: 1.3em;
  font-weight: 500;
  margin: 5px 0; }

/* Checkout Options */
.accordion-tabs {
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-tabs .accordion-tab-headers {
    background-color: black;
    list-style: none;
    padding: 1.3em;
    margin-bottom: 15px; }
    .accordion-tabs .accordion-tab-headers .tab-header {
      text-align: center; }
      .accordion-tabs .accordion-tab-headers .tab-header a {
        color: white;
        font-size: 1em;
        text-align: center; }
        .accordion-tabs .accordion-tab-headers .tab-header a.is-active {
          color: #3a89e2; }
  .accordion-tabs .tab-link {
    display: block; }
    @media screen and (min-width: 53.75em) {
      .accordion-tabs .tab-link {
        display: inline-block; } }
  .accordion-tabs .is-active {
    color: #ff0000; }
  .accordion-tabs .tab-content {
    display: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .accordion-tabs .tab-content {
        float: left; } }
  .accordion-tabs .contents .order-info .meta {
    color: #a5a5a5; }
  .accordion-tabs .contents .order-info .shipping-price .col-xs-5.col-xs-offset-1, .accordion-tabs .contents .order-info .total .col-xs-5.col-xs-offset-1 {
    text-align: right; }
  .accordion-tabs .contents .order-info .address {
    margin: 60px 30px 30px; }

.checkout .tab-header:first-child {
  text-align: left; }
.checkout .tab-header:last-child {
  text-align: right; }

/* Checkout Options */
.checkout-options .top:after {
  border-bottom: 1px solid #d5d5d5;
  height: 15px;
  visibility: visible; }
.checkout-options .top .title {
  text-align: left;
  margin: 6.5px 0; }
.checkout-options .options-section {
  margin: 15px 0; }
  .checkout-options .options-section .guest .info {
    color: #a5a5a5;
    margin-bottom: 15px; }
  .checkout-options .options-section .guest .btn {
    display: block;
    font-size: 1.1em;
    margin: 30px auto;
    width: 65%; }
  .checkout-options .options-section .login {
    border-right: 1px solid #d5d5d5; }

.subtitle {
  margin-bottom: 15px; }

.login-form .username, .login-form .password {
  margin-bottom: 5px; }
  .login-form .username label, .login-form .password label {
    color: #a5a5a5;
    margin-bottom: 15px; }
    .login-form .username label span, .login-form .password label span {
      color: #3a89e2; }
  .login-form .username input, .login-form .password input {
    border-radius: 0; }
.login-form .forgot {
  margin-bottom: 10px; }
  .login-form .forgot a {
    color: #3a89e2;
    font-style: italic; }
.login-form .checkout .btn {
  padding: 0.75em 2.5em; }

/* Footer */
footer {
  margin-bottom: 15px; }
  footer:before {
    border-top: 1px solid #d5d5d5;
    display: block !important; }
  footer .newsletter {
    margin: 15px 0; }
    footer .newsletter .label {
      color: black;
      text-align: right;
      padding: 6px 0; }
    footer .newsletter .email {
      border-radius: 0;
      float: left; }
    footer .newsletter .btn {
      background-color: #d8d8d8;
      border-radius: 0;
      color: black;
      right: 17px;
      font-family: 'Input Mono Compressed', sans-serif;
      font-size: 0.8em;
      font-wight: 200;
      padding: 0.6em 1.5em;
      position: absolute;
      margin: 8px 6px; }
  footer .nav {
    color: #d5d5d5; }
    footer .nav .left ul li a {
      color: #d5d5d5; }
    footer .nav .right ul li a {
      color: #d5d5d5; }

/*# sourceMappingURL=style.css.map */
