<div class="title bottom-line">
								<h4>Order History</h4>
							</div>
							<div class="subtitle">
								<h5>Shipping Address:</h5>
							</div>
							<fieldset class="fullname">
								<label>Full Name:</label>
								<input type="text">
							</fieldset>
							<fieldset class="address">
								<label>Street Address:</label>
								<input type="text">
							</fieldset>
							<fieldset class="zip">
								<label>Zip:</label>
								<input type="text">
							</fieldset>
							<fieldset class="city">
								<label>City:</label>
								<input type="text">
							</fieldset>
							<fieldset class="country">
								<label>Country:</label>
								<input type="text">
							</fieldset>
							<fieldset class="state">
								<label>State:</label>
								<input type="text">
							</fieldset>
							<fieldset class="phone">
								<label>Phone:</label>
								<input type="tel">
							</fieldset>
							<div class="subtitle">
								<h5>Contact Info:</h5>
							</div>
							<fieldset class="email">
								<label>Your Email address:</label>
								<input type="email">
							</fieldset>
							<fieldset class="update">
								<input type="checkbox">
								<label>Receive Updates?</label>
							</fieldset>
							<fieldset class="confirm">
								<button name="shipping" class="btn">Confirm</button>
							</fieldset>