<main class="product-detail">
  <!-- breadcrumb section -->
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#/productsList">Products</a></li>
        <li><a href="#/productsSubList">Beauty & Health</a></li>
        <li class="active">36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</li>
      </ol>
    </div>
  </div>
  <!-- product profile section -->
  <section class="product-profile">
    <div class="row">
      <form class="profile-form" action="" method="get">
        <div class="col-md-5 pic">
          <img src="images/kitchen_adventurer_lemon.jpg" alter="slider">
        </div>
        <div class="col-md-7 title">
          <h3>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</h3>
        </div>
        <div class="col-md-7 disc clearfix">
          <p>36W 110V Professional UV Nail Art Gel Curing Polish UV Lamp Acrylic Timer 4 Tube</p>
        </div>
        <div class="col-md-7 purchase-info">
          <div class="row">
            <div class="col-md-15 price"><h4><span>$</span>&nbsp;<span>16.99</span></h4></div>
            <div class="col-md-15 quantity"><input type="number" value="1"></div>
            <div class="col-md-15"></div>
            <div class="col-md-15"></div>
            <div class="col-md-15 reviews"><span>5</span>&nbsp;Reviews</div>
          </div>
        </div>
        <div class="col-md-7 add-to-cart">
          <input type="submit" class="btn" value="Add To Cart">
        </div>
        <div class="col-md-7 rel-products">
          <ul class="row">
            <li class="col-md-3"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></li>
            <li class="col-md-3"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></li>
            <li class="col-md-3"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></li>
            <li class="col-md-3"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></li>
          </ul>
        </div>
      </form>
    </div>
  </section>
  <!-- product features section -->
  <section class="product-features">
    <div class="row">
      <!-- product features and specification body -->
      <article class="col-md-6 desc">
        <section>
          <h5 class="title">Features & Specification</h5>
          <div class="details">
            <span>Feature:</span>
            <ul>
              <li>36W UV Gel light-cured</li>
              <li>Effectively and quickly cured all UV and gel based products</li>
              <li>Fast curing of UV gels one hand at a time.</li>
              <li>Small and cool design, compact & easy to operate</li>
              <li>Built in timer with 2 minutes setting for perfect time management</li>
              <li>Easy access panel on bottom to easily change bulbs</li>
              <li>Color: white</li>
              <li>Weight:3 lbs</li>
              <li>Modulator tube: 4 PCS (included)</li>
            </ul>
            <span>Package Included:</span>
            <ul>
              <li>1 x 36W Nail UV Lamp</li>
            </ul>
          </div>
        </section>
      </article>
      <!-- product features and specification body end
      <!-- product pic -->
      <div class="col-md-6 pic">
        <img src="images/kitchen_adventurer_lemon.jpg" alter="slider">
      </div>
      <!-- product pic end -->
    </div>
  </section>
  <!-- review score section -->
  <section class="review-score">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="num">5 Reviews</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="rating-lg">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- review details section -->
  <section class="review-details">
    <!-- user review #1 -->
    <div class="row review-detail">
      <div class="col-md-3">
        <!-- star rating -->
        <ul class="rating-sm">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
        <!-- star rating end -->
        <!-- customer name -->
        <div>
          <a href="#/userProfile" class="customer">
            <span class="by">By</span>&nbsp;<span class="customer-name">Jason</span>
          </a>
        </div>
        <!-- customer name end -->
        <!-- review date -->
        <div class="date">
            <span class="date">March 13, 2015</span>
        </div>
        <!-- review date end -->
      </div>
      <!-- review body end -->
      <div class="col-md-9 review-body">
        <h4>It's Amazing</h4>
        <p>It is an amazing product which everyone deserve to own one, trust me. It is the only product that I have a comment so high like this.</p>
      </div>
      <!-- review body end -->
    </div>
    <!-- user review #1 end -->
    <!-- user review #2 -->
    <div class="row review-detail">
      <div class="col-md-3">
        <!-- star rating -->
        <ul class="rating-sm">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
        <!-- star rating end -->
        <!-- customer name -->
        <div>
          <a href="#/userProfile" class="customer">
            <span class="by">By</span>&nbsp;<span class="customer-name">Jason</span>
          </a>
        </div>
        <!-- customer name end -->
        <!-- review date -->
        <div class="date">
          <span class="date">March 13, 2015</span>
        </div>
        <!-- review date end -->
      </div>
      <!-- review body end -->
      <div class="col-md-9 review-body">
        <h4>It's Amazing</h4>
        <p>It is an amazing product which everyone deserve to own one, trust me. It is the only product that I have a comment so high like this.</p>
      </div>
      <!-- review body end -->
    </div>
    <!-- user review #2 end -->
    <!-- user review #3 -->
    <div class="row review-detail">
      <div class="col-md-3">
        <!-- star rating -->
        <ul class="rating-sm">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
        <!-- star rating end -->
        <!-- customer name -->
        <div>
          <a href="#/userProfile" class="customer">
            <span class="by">By</span>&nbsp;<span class="customer-name">Jason</span>
          </a>
        </div>
        <!-- customer name end -->
        <!-- review date -->
        <div class="date">
          <span class="date">March 13, 2015</span>
        </div>
        <!-- review date end -->
      </div>
      <!-- review body end -->
      <div class="col-md-9 review-body">
        <h4>It's Amazing</h4>
        <p>It is an amazing product which everyone deserve to own one, trust me. It is the only product that I have a comment so high like this.</p>
      </div>
      <!-- review body end -->
    </div>
    <!-- user review #3 end -->
  </section>
</main>