<main class="product-list">
  <!-- breadcrumb section -->
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
  <!-- categories section -->
  <section class="categories">
    <div class="beauty-health-category category-row bottom-line clearfix">
      <div class="row">
        <ul class="list">
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="beauty-health-category category-row bottom-line clearfix">
      <div class="row">
        <ul class="list">
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="beauty-health-category category-row bottom-line clearfix">
      <div class="row">
        <ul class="list">
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="beauty-health-category category-row bottom-line clearfix">
      <div class="row">
        <ul class="list">
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
          <li class="col-md-15">
            <div class="product-card">
              <div class="pics">
                <span class="image-wrapper">
                  <a href="#/productDetail"><img src="images/kitchen_adventurer_lemon.jpg" alter="slider"></a>
                </span>
              </div>
              <div class="disc">
                <a href="#/productDetail"><p>Digital Kitchen Scale 7Kg/15lbs x 1g Diet Bake Food Postal Scale w/ Bowl</p></a>
              </div>
              <div class="price"><a href="#/productDetail"><b>$9.99</b></a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- categories section -->
</main>